#%RAML 1.0
---
title: Data Industries
version: v1
baseUri: http://data.dataindustries/api
protocols: [ HTTPS ]
mediaType: [ application/json ]

#raml2html dataindustries-api.raml > dataindustries-api.html

/services:
  description: Manage the Data Industries services for business clients. Services includes inspection and verification of environmental matrix and certification of product standards.
  get:
    description: Retrieve the list of services of Data Industries.
    responses:
      200:
        body:
          application/json:
            example: !include schema/getServices.json

  post:
    description: Create new service handled by company's API Developers and Administrators only.
    responses:
      201:
        body:
          application/json:
            example: !include schema/servicesSchema.json


  /{_id}:
    description: Manage a single service.
    uriParameters:
      serviceId:
        type: string
        required: true
    get:
      description: Retrieve a single service.
      responses:
        200:
          body:
            application/json:
              example: !include schema/serviceId.json
        404:
          description: The service ID doesn't exist.
          body:
            application/json:
              example: !include schema/serviceId-error.json
    put:
      description: Updating a service will only handled by company's API Developers and Administrators.

      responses:
        200:
          description: The service has been updated.
        404:
          description: The service ID doesn't exist.
          body:
            application/json:
              example: !include schema/serviceId-error.json
              

    
    delete:
      description: Deleting a service will only handled by company's API Developers and Administrators.

      responses:
        204:
          description: The service has been eliminated.
        404:
          description: The service ID doesn't exist.
          body:
            application/json:
              example: !include schema/serviceId-error.json
  /tests:
    /{testName}:
      get:
      description: Retrieve single service by test name.
        responses:
          200:
            body:
              application/json:
                #example: !include schema/getServices.json
  /fees:
    /{testFee}:
      get:
      description: Retrieve service/s of thesame test fee.
        responses:
          200:
            body:
              application/json:
                #example: !include schema/getServices.json



# For editing
/customers:
  description: Manage the Data Industries clients from all sectors.
  get:
    description: Retrieve the Data Industries list of clients.
    responses:
      200
        body:
          application/json:
            example: !include schema/getServices.json
 
  post:
    description: Add new clients.
    responses:
      201:
        body:
          application/json:
            example: !include schema/servicesSchema.json




/results:
  description: Manage the data produced from inspection and verification services such as laboratory results and experiments for public information.
  get:

  /{samples}:
   /{get}